/*--------------------------------------------------------------------
---file:    styles.css
---author:  Tenbusch, Simon
---date:    2022-10-17
---------------------------------------------------------------------*/

#ha_1_start{

  background-color: green;
  background-image: url("https://cdn.glitch.global/b71d9a38-1991-4547-817e-c28612af2276/me-main.png?v=1665753093080");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: white
}





h3{
  font-size: 50px;
  color: green;
}

/*Klasse*/
.h_mainparagraph{
  color: blue;
}


/*ID. einzigartig für nur ein Element im html*/

#eineId{
  color:red;
}