/*--------------------------------------------------------------------
---file:    styles.css
---author:  Tenbusch, Simon
---date:    2022-10-17
---------------------------------------------------------------------*/

:root{
  --col_darkgreen:#0A5020;
  --col_darkgrey: #333333;
  --col_midgrey: #979797;
  --col_lightgrey: #C8C8C8
    

}

body{
      margin-left: 10%;
      margin-right: 10%;
}

#ha_1_start{
  
  background-color: var(--col_darkgreen);
  background-image: url("https://cdn.glitch.global/b71d9a38-1991-4547-817e-c28612af2276/me-main.svg?v=1666262945759");
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
  color: var(--col_lightgrey);
  font-family: verdana;
}


#i_am{
  font-size: 600%;
}

#ha_2_erfahrungen{
    background-color: #0A5020;
    color: var(--col_lightgrey);
}

#ha_3_qualifikationen{
    background-color: #0A5020;
    color: var(--col_lightgrey);
}

#ha_4_meilensteine{
    background-color: #0A5020;
    color: var(--col_lightgrey);
}

#ha_5_kontakt{
    background-color: #0A5020;
    color: var(--col_lightgrey);
}





